@{
    //ViewBag.Title = "Home Page";
}

<aside>
    <div id="profile">
        Logged in as @Html.ActionLink("PLACEHOLDER", "Index", "Profile") <a href="#">Logout</a><br />
        <a href="register.html">Register new account.</a><br />
        <div id="newPost">@Html.ActionLink("Create new post", "Index", "NewPost", null, null)</div>
    </div>

    <div><input id="searchBox" type="text" placeholder="Search" /><img id="searchImage" alt="Search" src="~/Content/Images/search.png" /></div>
    <div id="categoryFilters">
        <span class="boldSpan">Filter by catogory</span>
        <form id="categoryFilterForm" method="POST" action="index.html">
            @foreach (var Category in ViewBag.CategoriesList)
            {
                <input type="checkbox" id="@Category.CategoryId" name="@Category.CategoryId"/><label><span class="categoryTag">@Category.Name</span></label><br />
            }
                    
            <input type="submit" value="Apply filter" />
        </form>
    </div>
</aside>

<section>

    @foreach (var Post in ViewBag.Posts)
    {
        <article>
            <div class="voteDiv"><span class="voteNumber">@Post.Upvotes</span><div class="voteArrow upvoteArrow"></div><div class="voteArrow downvoteArrow"></div></div>
            <div class="postTitle">@Html.ActionLink((string)Post.Title, "Index", "Post", new { @postId = Post.PostId }, null)</div>
            <div class="postCategory">
                @foreach (var Category in Post.Categories)
                {
                    <span class="categoryTag">@Category.Name</span>
                }
            </div>
            <div class="postDetails"><span class="commentCounter">@Post.Comments.Count comments</span> | <span>Posted on @Post.CreationDate</span> | <span>Posted by @Post.User.Username</span></div>
        </article>
    }

    <div class="pageNavigation">
        <form method="GET" action="index.html">
            <input type="button" value="Previous page" />
            <input type="button" value="Next page" />
        </form>
    </div>

    <!--<article>Post 2</article>
    <article>Post 3</article>-->

</section>

